body {
    font-family: 'poppins', cursive !important;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
}

.border-left-success {
    border-left: 0.25em solid #28a745 !important;
}

.border-left-warning {
    border-left: 0.25em solid #ffc107 !important;
}

.border-left-primary {
    border-left: 0.25em solid #007bff !important;
}

ul {
    margin: 0px;
    padding: 5px;
    list-style: none;
}

.fa-trash {
    cursor: pointer;
}

.modal {
    display: unset !important;
}

.link {
    cursor: pointer;
}

.tasks img,
.categories img {
    opacity: 0.6;
}

.blur {
    filter: blur(3px);
}

.tasks,
.categories {
    min-height: 600px !important;
}