<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Self Evaluator</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/style.css') }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,600;1,700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Self Evaluator Logo" class="logo">
    <svg class="menu_icon" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.844238 15.0608H23.1813V12.5789H0.844238V15.0608ZM0.844238 8.85608H23.1813V6.37418H0.844238V8.85608ZM0.844238 0.169434V2.65133H23.1813V0.169434H0.844238Z"
        fill="#2b2828" />
    </svg>
    <nav class="menu">
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="#offer">
          <li>What we Do</li>
        </a>
        <a href="#contribute">
          <li>Contribute</li>
        </a>
        <a href="/sign_up">
          <li class="menu_button">Get Started</li>
        </a>
      </ul>
    </nav>
  </header>
  <main>
    <div class="sign_in_box">
      <img src="{{url_for('static',filename='images/Login Icon.svg')}}" alt="Login Icon" class="sign_in_icon" />
      <section class="sign_in">
        <h3 class="title">Sign in</h3>
        <form action="/login" method="POST">
          <div class="row">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" />
          </div>
          <br />
          <div class="row">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <br />
          <a href="#" class="forgot_password text_dark">Forgot password?</a>
          <div class="row">
            <button type="submit" class="success_button">Login</button>
            <a class="success_bordered" href="sign_up.html">Create account</a>
          </div>
        </form>
      </section>
    </div>
  </main>
  <footer>
    <div class="footer_container">
      <div class="footer_shadow"></div>
      <h1>we can <span>Grow</span> together</h1>
      <p>with using this platform your are helping us to grow more; So keep going and we have your back dude!</p>
      <a href=""><button>Sing Up Now</button></a>
    </div>
  </footer>
  <script src="{{url_for('static', filename='assets/script.js') }}"></script>
</body>

</html>