:root {
  --whiteSmoke: #f5f5f5;
  --white: #ffffff;
  --gray: #999799;
  --darkGray: #4a4646;
  --darkerGray: #2b2828;
  --lightGreen: #e5e059;
  --darkGreen: #bdd358;
  --darkPaleGreen: rgba(189, 211, 88, 0.8);
  --darkerGreen: #899c31;
  --tomato: #e5625e;
}

body {
  font-family: Poppins;
  margin: 0px;
  background-color: var(--whiteSmoke);
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 320px;
  background-image: url("../images/Header\ Background.svg");
  background-repeat: no-repeat;
}

.background_header {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.logo {
  margin-left: 129px;
  float: left;
  height: 101.93px;
  width: 110px;
  margin-top: 51px;
}

.menu_icon {
  color: var(--darkerGray);
  margin-top: 46.17px;
  height: 14.89px;
  width: 22.34px;
  position: absolute;
  right: 46.17px;
  display: none;
  z-index: 10;
}

.menu ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 736px; */
  font-size: 30px;
  margin-top: 80px;
}

.menu ul li {
  margin-left: 33px;
  color: var(--darkGray);
  transition-property: color, border;
  transition-duration: 0.3s;
  border-bottom: 3px solid transparent;
}

.menu ul li:hover {
  color: var(--darkerGray) !important;
  border-bottom: 3px solid var(--tomato);
}

.menu_button {
  background-color: #e5625e;
  border: 3px solid #e5625e !important;
  border-radius: 10px;
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white) !important;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #bdd358;
  margin-bottom: 21px;
  margin-top: unset;
}

.intro {
  margin-top: 96px;
  text-align: center;
}

.intro_title {
  color: var(--darkGreen);
  font-size: 70px;
  font-weight: bold;
}

.intro .title::before {
  content: url("../images/Left\ bars.svg");
  position: relative;
  top: 20px;
  left: 57px;
}

.intro .title::after {
  content: url("../images/Right\ bars.svg");
  position: relative;
  top: 20px;
  right: 37px;
}

.intro p {
  margin: 0px auto 19px auto;
  width: 70%;
  color: var(--gray);
  font-size: 24px;
}

.offer {
  margin-top: 96px;
}

.offer .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.offer .card {
  width: 350px;
  margin-top: 71px;
  margin-left: 39px;
  background-color: var(--white);
  box-shadow: 0px 4px 21px #d4d4d4;
}

.offer .counter {
  width: 100px;
  height: 100px;
  margin: -50px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #000;
}

.card h3 {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  line-height: 45px;
  text-align: center;
}

.card p {
  text-align: center;
  padding: 0px 22px;
  color: var(--gray);
}

.primary_button {
  display: block;
  margin: 45px auto 0px auto;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--tomato);
  width: 231px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.success_button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--darkGreen);
  color: #ffffff;
  border-radius: 10px;
  min-width: 228px;
  min-height: 52px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align: center;
}

.success_button:hover {
  background-color: var(--darkerGreen);
}

.success_bordered {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  min-width: 228px;
  min-height: 52px;
  color: var(--darkGreen);
  border: 2px solid #999799;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(146, 146, 146, 0.17));
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #bdd358;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.success_bordered:hover {
  border: none;
  background-color: var(--darkerGreen);
  color: var(--white);
}

.sign_in_box {
  margin: auto auto 96px auto;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.sign_in_icon {
  width: 500px;
  height: 298.93px;
  margin-right: 144px;
}

.sign_in label {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-right: 10px;
}

.sign_in input {
  padding: 10px;
  outline: none;
  width: 332px;
  height: 50px;
  margin-bottom: 12px;
  background: #ffffff;
  border: 1px solid rgba(131, 131, 131, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(212, 212, 212, 0.75);
  border-radius: 10px;
  font-size: 24px;
  color: var(--darkGray);
}

a.forgot_password,
a.have_account_link {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 26px;
  display: block;
}

.text_dark {
  color: var(--gray);
}

.text-center {
  text-align: center;
}

.section_1,
.section_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 400px;
  margin-right: 155px;
  margin-left: 155px;
}

.section_1 {
  margin-top: 92px;
}

.section_2 {
  margin-top: 96px;
}

.section_1 h2,
.section_2 h2 {
  /* width: 622px; */
  color: var(--darkPaleGreen);
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
}

.section_1 p,
.section_2 p {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  max-width: 618px;
}

.section_1 img,
.section_2 img {
  max-width: 100%;
}

.contribute {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 96px;
}

.contribute h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  color: var(--darkGreen);
}

.contribute p {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  width: 70%;
  margin: 30px auto 0px auto;
  color: var(--gray);
}

footer {
  position: relative;
  width: 100%;
  /* max-height: 694px; */
  text-align: center;
  background-image: url("../images/Footer Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_container {
  padding-top: 236px;
  padding-bottom: 118px;
}

footer p {
  color: var(--white);
  margin: 20px auto auto auto;
  width: 70%;
  font-size: 24px;
}

footer h1 {
  margin: 0 auto;
  font-weight: bold;
  font-size: 60px;
  color: var(--tomato);
}

footer h1 span {
  color: #3f3d56;
}

footer a {
  cursor: pointer;
  outline: none;
  width: 231px;
  height: 54px;
  background-color: var(--tomato);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0px auto;
}

footer .background_footer {
  position: absolute;
  left: 0px;
  width: 100%;
  margin: 0px;
  z-index: -1;
}

footer h1,
footer p,
footer a {
  position: relative;
}

.footer_shadow {
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  position: absolute;
}

/* Responsive Design */
@media (max-width: 450px) {
  header {
    background-image: url("../images/Mobile\ Header\ Background.svg");
    max-height: 150px;
  }

  .menu ul {
    display: none;
    z-index: 2;
    height: 100vh;
    background-color: var(--darkGreen);
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    padding: 20px;
  }

  .menu ul li {
    color: var(--white);
    margin-top: 20px;
  }

  .menu ul li:hover {
    border-bottom: transparent;
  }

  .menu_icon {
    display: block;
  }

  .logo {
    margin: 10px 20px;
    width: 100px;
    height: 96.93px;
  }

  .title {
    font-size: 30px;
  }

  .intro {
    margin-top: -96px;
  }

  .intro .title::before,
  .intro .title::after {
    content: unset;
  }

  .intro p {
    font-size: 12px;
  }

  .primary_button {
    margin: 25px auto 0px auto;
    width: 115.5px;
    height: 27px;
    font-size: 12px;
  }

  .section_1,
  .section_2 {
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
  }

  .section_1 h2,
  .section_2 h2 {
    font-size: 30px;
    text-align: center;
  }

  .section_1 p,
  .section_2 p {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }

  .offer .row {
    flex-direction: column;
  }

  .contribute h2 {
    font-size: 30px;
  }

  .offer .card {
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
  }

  .contribute p {
    font-size: 12px;
    line-height: 18px;
  }

  .sign_in_box {
    margin: 170px auto 100px auto;
    flex-direction: column;
    width: 88%;
    background-color: #ffffff;
    box-shadow: 0px 4px 21px rgba(212, 212, 212, 0.71);
    padding-bottom: 30px;
  }

  .sign_in_icon {
    width: 250px;
    height: 150px;
    margin: -40% auto 0px auto;
  }

  .title {
    font-size: 30px;
    text-align: center;
    margin: 40px auto 40px auto !important;
  }

  .sign_in_box input {
    height: 35px;
    width: 200px;
    padding: 5px;
    font-size: 12px;
  }

  .sign_in_box label {
    margin-right: 6px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
  }

  a.forgot_password,
  a.have_account_link {
    font-size: 12px;
    font-weight: 400;
  }

  .success_button {
    min-height: 30px;
    min-width: 120px;
    font-size: 12px;
    margin-right: 8px;
  }

  .success_bordered {
    min-height: 26px;
    min-width: 120px;
    font-size: 12px;
  }

  footer h1 {
    font-size: 30px;
  }

  footer p {
    font-size: 12px;
    margin: 10px auto auto auto;
  }

  footer a {
    width: 115px;
    height: 27px;
    font-size: 12px;
    margin-top: 10px;
  }

  .footer_container {
    padding-top: 62px;
    padding-bottom: 30px;
  }
}