<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self evaluator</title>
    <link rel="stylesheet" href="assets/style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <template id="widget-card-template">
        <div class="card shadow h-100 py-1" :class="['border-left-'+color]">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <h6 class="font-weight-bold mb-2" :class="['text-'+color]" v-text="title"></h6>
                        <div class="ml-3 h6 mb-0 text-gray-800" v-text="content"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-2x text-gray-300" :class="['fa-'+icon]"></i>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <div class="container pt-2">
        <main id="app">
            <img src="images/self evaluator.png" alt="Self evaluator" height="100px">
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <widget-card title="Tasks" :content="tasks_count" color="success" icon="list" ></widget-card>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <widget-card title="Categories" :content="categories_count" color="info" icon="list" ></widget-card>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <widget-card title="Results" :content="result_count" color="warning" icon="star" ></widget-card>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <widget-card title="Last record" :content="last_result" color="primary" icon="bar-chart" ></widget-card>
                </div>
            </div>

            <!-- Progress chart -->
            <div class="row">
                <div class="col">
                    <div class="card shadow p-5">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Progress chart -->

            <div class="row mt-3">
                <!-- Tasks -->
                <div class="col-md-6">
                    <div class="card tasks shadow p-0">
                        <div class="card-header bg-info">
                            <h3 class="font-weight-bold text-light">Tasks</h3>
                        </div>
                        <div class="card-body">
                            <!-- add input for task name -->
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="task_name" class="mt-1">Name: </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="task_name" id="task_name" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-outline-success" @click="addTask()">Add</button>
                                </div>
                            </div>

                            <img src="images/tasks.png" alt="tasks" v-if="tasks_count < 1" height="300px" class="d-block mx-auto">
                            <ul>
                                <li v-for="task in tasks" :id="['task_'+ task.id]" class="bg-light text-dark p-2 shadow rounded mt-2">
                                    <i class="fa fa-trash mr-2" @click="deleteTask(task)"></i>
                                    <span @click="showTaskUpdateModal(task.id)" class="text-primary link" v-text="task.name"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Update task: modal -->
                <div class="modal" id="taskModal" v-if="show_task_modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Update Task</h5>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="new_task_name" class="col-form-label">Name:</label>
                              <input type="text" class="form-control" id="new_task_name">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" @click="show_task_modal=false">Close</button>
                          <button type="button" class="btn btn-primary" @click="updateTask()">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End task:modal -->

                <!-- Categories -->
                <div class="col-md-6">
                    <div class="card categories shadow p-0">
                        <div class="card-header bg-info">
                            <h3 class="font-weight-bold text-light">Categories</h3>
                        </div>
                        <div class="card-body">
                            <!-- add input for category name and description -->
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="category_name" class="mt-1">Name: </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="category_name" id="category_name" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <label for="description">Description: </label>
                                </div>
                                <div class="col-md-9">
                                    <textarea name="category_description" id="category_description" class="form-control"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-outline-success" @click="addCategory()">Add</button>
                                </div>
                            </div>
                            <img src="images/categories.png" alt="categories" v-if="categories_count < 1" height="300px" class="d-block mx-auto">
                            <ul>
                                <li v-for="category in categories" :id="['category_'+ category.id]" class="bg-light text-dark p-2 shadow rounded mt-2">
                                    <i class="fa fa-trash mr-2" @click="deleteCategory(category)"></i>
                                    <span class="text-primary link" @click="showCategoryUpdateModal(category.id)" v-text="category.name"></span> <small v-text="category.description"></small>
                                </li>
                            </ul>
                            </div>
                            <!-- Update task: modal -->
                            <div class="modal" id="categoryModal" v-if="show_category_modal">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Update Category</h5>
                                    </div>
                                    <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                        <label for="new_category_name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="new_category_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="new_category_description" class="col-form-label">Description:</label>
                                            <textarea class="form-control" id="new_category_description"></textarea>
                                        </div>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="show_category_modal=false">Close</button>
                                    <button type="button" class="btn btn-primary" @click="updatecategory()">Update</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- End category:modal -->
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-4">
            <p class="copyright text-center">Desined by <a href="https://edrisranjbar.ir">Edris Ranjbar</a></p>
        </footer>
    </div>
    <script src="assets/script.js"></script>
</body>
</html>